<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Блок функционала снятия наличных</p>
Укажите номер карты, PIN код и сумму для снятия
<form action="getmoney" method="post">
    <fieldset>
        <input type="number" name="card"/>
        <input type="password" name="pin"/>
        <input type="number" name="value"/>
        <input type="submit" value="Получить наличные"/>
    </fieldset>
</form>
<!--<p>Блок функционала пополнения счета</p>-->
<!--Укажите номер карты, PIN код и сумма наличных для полполнения-->
<!--<form action="getmoney" method="post">-->
<!--    <fieldset>-->
<!--        <input type="number" name="CardNumber"/>-->
<!--        <input type="password" name="PIN"/>-->
<!--        <input type="number" name="Value"/>-->
<!--        <input type="submit" value="GetMoney"/>-->
<!--    </fieldset>-->
<!--</form>-->
</body>
</html>